Service References/TaskerReference/TaskerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60224/TaskerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60224/TaskerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60224/TaskerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tasker" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskerService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_CreateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_CreateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_EditTask_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTask" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_EditTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_FinishTask_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishTask" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_FinishTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_ShowTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowTask" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_ShowTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="ITaskerService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskerService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/DoWork" message="tns:ITaskerService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/DoWorkResponse" message="tns:ITaskerService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/CreateTask" message="tns:ITaskerService_CreateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/CreateTaskResponse" message="tns:ITaskerService_CreateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/EditTask" message="tns:ITaskerService_EditTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/EditTaskResponse" message="tns:ITaskerService_EditTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/FinishTask" message="tns:ITaskerService_FinishTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/FinishTaskResponse" message="tns:ITaskerService_FinishTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/ShowTask" message="tns:ITaskerService_ShowTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/ShowTaskResponse" message="tns:ITaskerService_ShowTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskerService/GetTask" message="tns:ITaskerService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskerService/GetTaskResponse" message="tns:ITaskerService_GetTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskerService" type="tns:ITaskerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/CreateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/EditTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishTask">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/FinishTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTask">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/ShowTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/ITaskerService/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskerService">
    <wsdl:port name="BasicHttpBinding_ITaskerService" binding="tns:BasicHttpBinding_ITaskerService">
      <soap:address location="http://localhost:60224/TaskerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>